<div class="text-align-left">
  <h2>Character Profile</h2>
  <p><strong>Character Name: </strong>{{{charName}}}</p>
  <p><strong>Moves: </strong>{{regMoves}}</p>
  <p><strong>Final Smash: </strong>{{finalSmash}}</p>
  <p><strong>Game Series: </strong>{{gameSeries}}</p>
  <p><strong>First Apperance: </strong>{{firstApp}}</p>
</div>

