<div class="text-align-left">
  <h2>Legend of {{{charname}}}</h2>
  <p><strong>Character Name: </strong>{{{charName}}}</p>
  <p><strong>Description: </strong>{{description}}</p>
  <p><strong>Moves: </strong>{{regMoves}}</p>
  <p><strong>Final Smash: </strong>{{finalSmash}}</p>
  <p><strong>Game Series: </strong>{{gameSeries}}</p>
  <p><strong>First Apperance: </strong>{{firstApp}}</p>
</div>












