<div class="homepage">
    <div>
      {{#if logged_in}}
        {{#if voted}}
          <h4 class="headerone">Already Chosen!</h4>
          {{#each characters as |character| }}
              <div class="result flex-row col-md-6 justify-space-between">
                <a href="/character/{{character.id}}">{{character.charName}}</a>
              </div>
          {{/each}}
        {{else}}
          <h4 class="headerone">Who Do You Choose!!</h4>
          {{#each characters as |character| }}
              <div class="result flex-row col-md-6 justify-space-between">
                <a href="/character/{{character.id}}">{{character.charName}}</a>
                <button class="vote-button" type="submit" value="{{character.id}}"></button>
              </div>
          {{/each}}
        {{/if}}
      {{else}}
          <h2 class="headerone">Characters:</h2>
          {{#each characters as |character| }}
              <div class="result flex-row col-md-6 justify-space-between">
                <a href="/character/{{character.id}}">{{character.charName}}</a>
              </div>
          {{/each}}
      {{/if}}
      </div>





























