<div class="text-align-left">
  <h2>Legend of {{{charName}}}</h2>
  <p><strong>Adventure Mode: </strong>{{description}}</p>
  <p><strong>Moves: </strong>{{regMoves}}</p>
  <p><strong>Final Smash: </strong>{{finalSmash}}</p>
  <p><strong>Game Series: </strong>{{gameSeries}}</p>
  <p><strong>First Apperance: </strong>{{firstApp}}</p>
</div>



























